.root {
    -token-fondo-principal: #FFFFFF;      /* Blanco */
    -token-fondo-secundario: #282EB5;     /* Azul oscuro original */
    -token-texto-principal: #000000;      /* Negro */
    -token-input: #F9F9F9;             /* Gris muy claro para inputs */
    -token-borde: #cccccc;              /*Color clarito para los border*/
    -token-negro: #000000;              /* Color negro*/
    -token-borde-oscuro: #999999;       /*Color oscuro para border*/
}

/**************Para todos los input**************/

.input-general{
    -fx-background-color: -token-input;
    -fx-border-color: -token-borde;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: -token-negro;
}

.input-general:hover{
    -fx-background-color: -token-fondo-principal;
    -fx-border-color: -token-borde-oscuro;
}

.input-general:focused{
    -fx-background-color: -token-fondo-principal;
    -fx-border-color: -token-borde-oscuro;
    -fx-border-width: 2px;
}

/******************************************************/

.icon-boton-borrar {
    -fx-graphic: url('asset/image/borrar1.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-nuevo {
    -fx-graphic: url('asset/image/nuevo.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-modificar {
    -fx-graphic: url('asset/image/modificar.png');
    -fx-graphic-text-gap: 10;
}

/*****************Login*****************/
.icono-boton-registrar{
    -fx-graphic: url('asset/image/agregar.png');
    -fx-graphic-text-gap: 10;
}

#VboxPanelIzquierda{
    -fx-background-color:-token-fondo-principal;
}

#VboxPanelDerecha{
    -fx-background-color: -token-fondo-secundario;
}

.icono-boton-login {
    -fx-graphic: url('asset/image/login.png');
    -fx-graphic-text-gap: 10;
}

#jivLogo{
    
}
