.icono-boton-login {
    -fx-graphic: url('asset/image/login.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-borrar {
    -fx-graphic: url('asset/image/borrar1.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-nuevo {
    -fx-graphic: url('asset/image/nuevo.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-modificar {
    -fx-graphic: url('asset/image/modificar.png');
    -fx-graphic-text-gap: 10;
}

.icono-boton-registrar{
    -fx-graphic: url('asset/image/agregar.png');
    -fx-graphic-text-gap: 10;
}


.text-field:hover, .password-field:hover { 
    -fx-border-color: #999999;
    -fx-text-fill: #000000;
}
.text-field:focused, .password-field:focused {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-text-fill: #000000;
}

.text-field, .password-field{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #000000;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #CFCFCF;
    -fx-text-fill: #000000;
}

.button{
    -fx-font-weight: bold;
}

.vboxDerechaTextos{
    -fx-padding: 20 0 0 10;
}

.vboxIzquierdaTextos{
    -fx-padding: 20 0 0 0;
}

.panel-derecha{
    -fx-background-color:  #003F86;
}

.contenidoPane{
    -fx-background-color: #003F86;
}



.oscuro .vboxIzquierdaTextos,
.oscuro .vboxDerechaTextos .label,
.oscuro .vboxDerechaTextos,
.oscuro .table-view,
.oscuro .table-view .table-cell{
    -fx-background-color: #3D3D3D;
    -fx-text-fill: white;
}

.oscuro .vboxIzquierdaTextos .text-field,
.oscuro .vboxIzquierdaTextos .combo-box,
.oscuro .combo-box .list-cell,
.oscuro .table-view .scroll-bar:horizontal,
.oscuro .table-view .scroll-bar:vertical{
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-color: #979595;
    -fx-border-width: 1px;
}

.oscuro .table-view .column-header{
    -fx-border-color: white; 
    -fx-border-width: 0 1px 1px 0;
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.oscuro .table-view .scroll-bar .thumb, .oscuro .split-pane > .split-pane-divider{
    -fx-background-color: #575454;
}

.oscuro .table-view .corner {
    -fx-background-color: #575454;
}


.oscuro .menu-bar, .oscuro .split-pane{
    -fx-background-color: #3D3D3D;
    -fx-text-fill: white;
}

.oscuro .panel-derecha, .oscuro .contenidoPane{
    -fx-background-color: gray;
}

.oscuro .menu .menuAyuda{
    -fx-background-color: white;
    -fx-text-fill: #000000;
}

.oscuro .menu-item .label {
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.oscuro .menu-item:focused{
    -fx-background-color: #dddddd;
}

.oscuro .menu-item .label:hover {
    -fx-background-color: #dddddd;
    -fx-text-fill: white;
}

/*Parte del login*/
.panelLoginIzquierdaInicioSesion, .PanelDebajoBotones, .panelLoginIzquierdaCampos{
    -fx-background-color: white;
}

.panel-derecha{
    -fx-background-color: #003F86;
}

.fondoLogin{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

/*Nopturno de login*/
.oscuro .panelLoginIzquierdaInicioSesion, 
.oscuro .PanelDebajoBotones, 
.oscuro .panelLoginIzquierdaCampos {
    -fx-background-color: #2b2b2b;
}

.oscuro .panel-derecha {
    -fx-background-color: #979595;
    -fx-border-color: #444444; 
    -fx-border-width: 0 0 0 1px;
}

.oscuro .fondoLogin, .oscuro .label{
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.oscuro .panelLoginIzquierdaInicioSesion .label,
.oscuro .panelLoginIzquierdaCampos .label {
    -fx-text-fill: white; 
}

.oscuro .text-field, 
.oscuro .password-field {
    -fx-background-color: #404040; 
    -fx-text-fill: white; 
    -fx-border-color: #555555;    
}

.oscuro .text-field:focused, 
.oscuro .password-field:focused {
    -fx-border-color: white;   
    -fx-background-color: #505050;
}

.oscuro .button:hover {
    -fx-background-color: #555555; 
}

.oscuro .text-field:hover, 
.oscuro .password-field:hover {
    -fx-background-color: #4a4a4a;
    -fx-border-color: #999999;
    -fx-text-fill: white;
}

.oscuro .menu-item:hover,
.oscuro .check-menu-item:hover {
    -fx-background-color: #444444;
}