.root {
    -token-fondo-principal: #FFFFFF;      /* Blanco */
    -token-fondo-secundario: #2C35E8;     /* Azul oscuro original */
    -token-texto-principal: #000000;      /* Negro */
    -token-input-bg: #F2F2F2;             /* Gris muy claro para inputs */
    -token-borde: #cccccc;
}



.icon-boton-borrar {
    -fx-graphic: url('asset/image/borrar1.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-nuevo {
    -fx-graphic: url('asset/image/nuevo.png');
    -fx-graphic-text-gap: 10;
}

.icon-boton-modificar {
    -fx-graphic: url('asset/image/modificar.png');
    -fx-graphic-text-gap: 10;
}

/*****************Login*****************/
.icono-boton-registrar{
    -fx-graphic: url('asset/image/agregar.png');
    -fx-graphic-text-gap: 10;
}

#VboxPanelIzquierda{
    -fx-background-color:-token-fondo-principal;
}

#VboxPanelDerecha{
    -fx-background-color: -token-fondo-secundario;
}

.icono-boton-login {
    -fx-graphic: url('asset/image/login.png');
    -fx-graphic-text-gap: 10;
}

.bordeImagen{
border-radius: 4rem;
}
