.button {
    -fx-font-weight: bold;
}

.icono-boton-login {
    -fx-graphic: url('../image/login.png');
    -fx-graphic-text-gap: 10; /* Espacio entre el icono y el texto */
}

.icon-boton-borrar {
    -fx-graphic: url('../image/borrar.png');
    -fx-graphic-text-gap: 10;
}